/*
* The designs were created to the following widths:
* - Mobile: 375px 
* - Desktop: 1440px                     
* - White: hsl(0, 0%, 100%)
* - Slate 300: hsl(212, 45%, 89%)
* - Slate 500: hsl(216, 15%, 48%)
* - Slate 900: hsl(218, 44%, 22%)
* - Font size (paragraph): 15px
* - Family: [Outfit](https://fonts.google.com/specimen/Outfit)
* - Weights: 400, 700
*/
@use 'base';

.card {
    width: 300px;
    height: 500px;
    padding: 1rem;
    border-radius: 1rem;
    background-color: base.$white;
    text-align: center;
    margin-bottom: 2rem;
    overflow: hidden;

    & img {
        height: 300px;
        width: 300px;
        border-radius: 10px;
    }
}

p {
    margin: 1.5rem 1rem;
    font-size: 1rem;

    &::first-letter {
        text-transform: capitalize;
    }

    &:first-of-type {
        font-size: 1.3rem;
        line-height: 1.5;
        font-weight: 700;
        color: base.$slate-900;

    }

    &:last-of-type {
        font-weight: 400;
        font-size: 16px;
        color: base.$slate-500;
    }
}
