@use "index" as *;

* {
    margin: 0;
    padding: 0;
}

html {
    height: auto;
}

body {
    min-height: 100vh;    
    padding-top: 1.5rem;
    
    @include center-column;
    
    font-family: $font-family;
    background-color: $body-bg-color;
    color: $white
}
