// - Family: [Figtree](https://fonts.google.com/specimen/Figtree)
// - Weights: 500, 800
@font-face {
    font-family: figtree;
    src: url("../fonts/Figtree-VariableFont_wght.ttf") format('truetype');
}

$font-family: "figtree", sans-serif;
$white: hsl(0deg 0% 100%);
$yellow: hsl(47deg 88% 63%);
$grey-500: hsl(0deg 0% 42%);
$grey-950: hsl(0deg 0% 7%);
$slate-300: hsl(212deg 45% 89%);
$slate-500: hsl(216deg 15% 48%);
$slate-900: hsl(218deg 44% 22%);

@mixin center-column {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
}

* {
    margin: 0;
    padding: 0;
}

html {
    height: 100vh;
}

body {
    min-height: 100vh;    
    
    @include center-column;
    
    font-family: $font-family;
    background-color: $yellow;
}
